@model List<CartItem>

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               <h4>Dish</h4>
            </th>
            <th>
               <h4>Price</h4>
            </th>
            <th>
                <p><a asp-controller="Cart" asp-action="ClearCart">Clear Cart</a></p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Price) kr
                </td>
                <td>
                    <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.CartItemID">Remove</a> <a>|</a> 
                    <a asp-controller="Cart" asp-action="EditCartItem" asp-route-id="@item.CartItemID">Edit</a>
                </td>
            </tr>
            
          }
    </tbody>
</table>
