@model List<CartItem>

<table class="table">
    <thead>
        <tr>
            <th>
               <h4>Dish</h4>
            </th>
            <th>
               <h4>Price</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Price) kr
                </td>
            </tr>
            
          }
    </tbody>
</table>
