@model List<CartItem>

<ul>

    @foreach (var item in Model)
    {

        <li>

            <div>

                <i>Cart</i>
                @item.Dish.DishName @{

                    var price = item.Dish.Price * item.Quantity;

                    <span>@price kr</span>

                }

            </div>

        </li>

                    }

</ul>
