@model List<CartItem>

<ul>
    @foreach (var item in Model)
    {

        <li>
            <div>
                @item.Dish.DishName @{

                    var sum = item.Dish.Price * item.Quantity;

                    <span>@sum kr</span>
                }
            </div>
        </li>

     }
</ul>
