@model OnlinePizza.Models.Dish
<link href="~/css/PizzaStyle.css" rel="stylesheet" />

<body style="background-image: url('images/ocean.jpg'); background-size:cover;">

    <h2 class="start-text">Welcome to OnlinePizza</h2>

    <div class="start-text">Where pizza, pasta and salad are served of the highest quality. Enjoy...</div>

</body>


