@model OnlinePizza.Models.Dish
<link href="~/css/PizzaStyle.css" rel="stylesheet" asp-append-version="true" />

<body>

    <div>
        <img class="imgStyle" src="~/images/JMM_3508.jpg" />
    </div>

    <div class="position-bottom">
        <div class="start-text">Where pizza, pasta and salad are served of the highest quality. Enjoy...</div>
    </div>

</body>