.start-text {
    font-family: 'Alegreya Sans SC';
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #908c82;
    margin-left:20%;
}

.imgStyle {
    width:100%;

}

.nav-color {
    background-color: #908c82;
}

.text-color{
    color:white;
    
}

.text-color:hover{
    color:black;
}

.M {
    font-family: 'Edwardian Script ITC';
    font-size: 100px;
    float:left;
}

.hight{
    height: 60px;
}

h2, h1 {
    font-family: 'Edwardian Script ITC';
    color: #908c82;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
}

h4, td, th, label, h3, a, p {
    font-family: 'Alegreya Sans SC';
}

a {
    color:black;
}
.cart {
    right: 100px;
    top: 148px;
    background-color: #ffffff;
    display: inherit;
    position: absolute;
    border:groove;
}

.dishTabel {
    width:1020px;
}

.cartButtons {
    color:black;
}

.divCartButtons {
   float:right;
   padding-right: 35px;
}

.logInText {
    color:white;

}